.custom-marker {
  padding: 0.25em !important;
  border-radius: 50%;
  background: #fff;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.my-character {
  background-color: aquamarine;
}

.thanos {
  background-color: #f44336;
}

.stone {
  background-color: #8402ed;
}
